$primary-color: #000;
$secondary-color: #fff;
$accent-color: #3D8961;
$accent-light: #5FD597;
$accent-strong: #214934;
$button-text-color: #fff;


$breakpoint_xl: 1999px;
$breakpoint_lg: 991px;
$breakpoint_md: 767px;
$breakpoint_sm: 575px;